<!DOCTYPE html>
<html lang="pt-br">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>FilmesTop</title>
  <style>
    body {
      background-image: url(https://img.freepik.com/fotos-gratis/floresta-assustadora-misterio-horror-beleza-na-natureza-gerada-por-ia_188544-29664.jpg?size=626&ext=jpg&ga=GA1.1.1700460183.1713052800&semt=ais);
    }
    h2 
    {
      color:white
    }
    
  </style>
</head>
<body>
  <h1 style="background-color:white; text-align:center;">Filmes Macabros (medo)</h1>
  <h2><a href="/hamburguer">Tá Chovendo Hambúrguer</a></h2>
  <h2><a href="/coraline">Coraline</a></h2>
  <h2><a href="/zumbilandia">Zumbilândia</a></h2>
  <h2><a href="/atividade">Atividade Paranormal</a></h2>
</body>
</html>
